@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}
<h1>About us</h1>
<h1>Company Name- Windsor Flowers</h1>
<p>The company grows own Flowers and has 15 years of experience in growing Flowers.<br /> we sell many different kind of flowers like roses, sunflowers and many others</p>
<h2> Headquaters Location</h2>
<p>headquaters is located in south Windsor.</p>
<p><strong>Address</strong><br />992 University Avenue West<br />Windsor<br />Ontario</p>

<p>The Company is owned by Prabhjeet Singh. The staff is Small. the Company has a manager and few employes for picking flowers and making bouquet.</p>
<h3>Description</h3>
<p>we have many different kind of flowers, we grow flowers and making bouquet since 2007. Only good flowers are selected for selling. <br />With Love and Care we Deliver Flowers.</p>
<p>Floweers we have are-<br />
<ul>
    <li>Rose</li>
    <li>Lily</li>
    <li>Orchid</li>
    <li>Sunflowers</li>
    <li>many others..</li>
</ul></p>
<p><strong>Contact us-</strong> 6473940000</p>