@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1><a class="nav-link text-dark" asp-area="" asp-controller="Flowers" asp-action="Index">Windsor Flowers</a></h1>
    <img src="/images/flower3.jpeg" width="250" height="300">
</div>
